{% extends '../base.html' %}


{% block title %}
Contact | TanaBana
{% endblock title %}
    


{% block content %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Contact Us</h1>
                <small>If you have any questions, feel free to reach out to us using the form below.</small>
                <h6 class="py-3 fw-semibold">
                    Visit Our Store
                </h6>
                <address>
                    <small>Karur Vysya Bank, D35/223, Jangambari, Laxman Pura, Varanasi, Varanasi, Uttar Pradesh, 221001</small>
                </address>
                <h6 class="py-3 fw-semibold">
                    Follow Us On
                </h6>
                <div class="d-flex gap-3 flex-wrap">
                    <a href="#" class="btn btn-sm btn-dark px-3">Facebook</a>
                    <a href="#" class="btn btn-sm btn-dark px-3">Instagram</a>
                    <a href="#" class="btn btn-sm btn-dark px-3">Youtube</a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="" method="post" class="bg-white shadow-sm rounded p-4">
                    <div class="form-group mb-2">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-control"> 
                    </div>
                    <div class="form-group mb-2">
                        <label for="name" class="form-label">Phone</label>
                        <input type="tel" name="phone" id="name" class="form-control"> 
                    </div>
                    <div class="form-group mb-2">
                        <label for="name" class="form-label">Message</label>
                        <textarea name="" class="form-control" id=""></textarea>
                    </div>
                    <button class="btn btn-dark py-3 w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
    