{% extends '../base.html' %}

{% block title %}
Shop | Shree Sagar
{% endblock title %}


{% block shopactive %}
    active
{% endblock shopactive %}
    

{% block content %}
<div class="container-fluid overflow-hidden py-2">
    <nav aria-label="breadcrumb my-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop All</li>
        </ol>
    </nav>
    <div class="row py-3 g-5">
        <div class="col-md-3 bg-white rounded p-4 shadow-sm">
            <form class="mb-4" method="get">
                <h6>Categories</h6>
                <div class="mb-4">
                    {% for category in categories %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" value="{{ category.id }}"
                            id="category{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="category{{ category.id }}">
                            {{ category.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <h6>Sub Categories</h6>

                <div class="mb-4" style="height: 300px; overflow-y: scroll;">
                    {% for category in subcategories %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="subcategory" value="{{ category.id }}"
                            id="subcategory{{ category.id }}" {% if request.GET.subcategory == category.id|stringformat:"s" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="subcategory{{ category.id }}">
                            {{ category.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <h6>Colors</h6>

                <div class="mb-4 d-flex flex-wrap gap-2 py-3">
                    {% for color in colors %}
                    <div class="">
                        <input class="form-check-input d-none" type="radio" name="color" value="{{ color.id }}"
                            id="color{{ color.id }}" onclick="highlightSelectedColor(this)" {% if request.GET.color == color.id|stringformat:"s" %}checked{% endif %}>
                        <label class="form-check-label" for="color{{ color.id }}">
                            <span class="color-radio" title="{{ color.name }}"
                                style="display: inline-block; width: 25px; height: 25px; background-color: {{ color.color }}; border-radius: 50%; "></span>
                        </label>
                    </div>
                    {% endfor %}
                    <script>
                        function highlightSelectedColor(element) {
                            var radios = document.getElementsByName('color');
                            radios.forEach(function (radio) {
                                var label = document.querySelector('label[for=' + radio.id + '] span');
                                label.style.outline = radio.checked ? '2px solid black' : 'none';
                            });
                        }
                        document.addEventListener('DOMContentLoaded', function () {
                            highlightSelectedColor();
                        });
                    </script>
                </div>
                <h6>Price Range</h6>

                <div class="mb-4 d-flex flex-wrap gap-1 flex-column py-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-600" id="price1" {% if request.GET.price == "0-600" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price1">
                        Under 600 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-1000" id="price2" {% if request.GET.price == "0-1000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price2">
                            Under 1000 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-2000" id="price3" {% if request.GET.price == "0-2000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price3">
                            Under  2000 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-3000" id="price4" {% if request.GET.price == "0-3000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price4">
                            Under  3000 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-4000" id="price6" {% if request.GET.price == "0-4000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price6">
                            Under  4000 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="0-5000" id="price7" {% if request.GET.price == "0-5000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price7">
                            Under  5000 </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="price" value="10000-50000" id="price5" {% if request.GET.price == "10000-50000" %}checked{% endif %}>
                        <label class="form-check-label text-muted" for="price5">
                            Above 1000 </label>
                    </div>
                </div>
                <button class="btn btn-dark w-100 py-3">Apply Filter</button>
            </form>
            </div>
        <div class="col-md-9">
            <div class="row">
                {% for product in products %}
                {% include '../includes/product-card-2.html' %}
                {% empty %}
                <p>No products found for the selected filters.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}